
@(form: Form[ClientPreferenceDTO], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Client Preference Save"){
    <h1>Client Preference</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
    <div>@name: @value</div>
    }

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                Error: @error.key: @error.message
            </div>
        }
    }

    @* “'id” in these elements is the css `id` field that will be shown *@
    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("name"), 'id -> "title", 'size -> 60)
        @helper.inputText(form("clientId"), 'size -> 60)
        @helper.select(
            field = form("repeat"),
            options = Seq(
                "Weekly" -> "Weekly",
                "Daily" -> "Daily"
            ),
            '_default -> "Choose One"
        )
        @helper.select(
            field = form("templateId"),
               options = Seq(
                    "Carousel Ad" -> "Carousel Ad",
           "Single Image Ad" -> "Single Image Ad"
           ),
          '_default -> "Choose One"
         )


        <button>Save</button>
    }

}
